In [1]:
import pandas as pd
import numpy as np
import os

### Reading and opening file

In [2]:
df = pd.read_csv(r"C:\Users\PMLS\Downloads\unclean_smartwatch_health_data.csv")

In [3]:
df

,User ID,Heart Rate (BPM),Blood Oxygen Level (%),Step Count,Sleep Duration (hours),Activity Level,Stress Level
0,4174.0,58.939776,98.809650,5450.390578,7.167235622316564,Highly Active,1
1,NaN,NaN,98.532195,727.601610,6.538239375570314,Highly_Active,5
2,1860.0,247.803052,97.052954,2826.521994,ERROR,Highly Active,5
3,2294.0,40.000000,96.894213,13797.338044,7.367789630207228,Actve,3
4,2130.0,61.950165,98.583797,15679.067648,NaN,Highly_Active,6
...,...,...,...,...,...,...,...
9995,1524.0,78.819386,98.931927,2948.491953,7.402748595032027,Active,7
9996,4879.0,48.632659,95.773035,4725.623070,6.3821659358529015,Sedentary,2
9997,2624.0,73.834442,97.945874,2571.492060,6.91654920303435,Sedentary,4
9998,4907.0,NaN,98.401058,3364.788855,5.691233932149209,Active,8
9999,4113.0,70.063864,98.475606,544.696104,5.691001039740254,Actve,5

## Checking Null/Non-Null Values, data types

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   User ID                 9799 non-null   float64
 1   Heart Rate (BPM)        9600 non-null   float64
 2   Blood Oxygen Level (%)  9700 non-null   float64
 3   Step Count              9900 non-null   float64
 4   Sleep Duration (hours)  9850 non-null   object
 5   Activity Level          9800 non-null   object
 6   Stress Level            9800 non-null   object
dtypes: float64(4), object(3)
memory usage: 547.0+ KB

### CHECKING OUT PERCANTAGE  OF  NULL OR NAN VALUES

In [5]:
null_val = df.isna().sum()/ len(df)
null_val

User ID                   0.0201
Heart Rate (BPM)          0.0400
Blood Oxygen Level (%)    0.0300
Step Count                0.0100
Sleep Duration (hours)    0.0150
Activity Level            0.0200
Stress Level              0.0200
dtype: float64

### CHECKING SPELLINGS ERRORS AND IMPROPER SYNTAX

In [6]:
df.head(10)

,User ID,Heart Rate (BPM),Blood Oxygen Level (%),Step Count,Sleep Duration (hours),Activity Level,Stress Level
0,4174.0,58.939776,98.809650,5450.390578,7.167235622316564,Highly Active,1
1,NaN,NaN,98.532195,727.601610,6.538239375570314,Highly_Active,5
2,1860.0,247.803052,97.052954,2826.521994,ERROR,Highly Active,5
3,2294.0,40.000000,96.894213,13797.338044,7.367789630207228,Actve,3
4,2130.0,61.950165,98.583797,15679.067648,NaN,Highly_Active,6
5,2095.0,96.285938,94.202910,10205.992256,8.378342673824589,Highly_Active,10
6,4772.0,47.272257,95.389760,3208.781177,7.871146008904113,Seddentary,2
7,4092.0,81.733497,95.981343,6051.249857,5.224139066195455,Sedentary,1
8,3979.0,93.340338,97.218945,1775.029578,5.468413771417153,Seddentary,1
9,3169.0,51.409967,97.272787,7940.021452,7.9544989905339145,Seddentary,8

In [7]:
df['Activity Level'].value_counts()  #BEFORE

Activity Level
Seddentary       1676
Sedentary        1657
Highly Active    1650
Active           1643
Actve            1622
Highly_Active    1552
Name: count, dtype: int64

In [10]:
df['Activity Level'].value_counts() #AFTER

Activity Level
Sedentary        3333
Active           3265
Highly Active    3202
Name: count, dtype: int64

## CORRECTING SPELLINGS MISTAKES IN ACTIVITY COLUMN

In [9]:
df['Activity Level'] = df['Activity Level'].replace("Seddentary","Sedentary")
df['Activity Level'] = df['Activity Level'].replace("Highly_Active","Highly Active")
df['Activity Level'] = df['Activity Level'].replace("Actve","Active")

 ### Filling NaN

In [11]:
df['Sleep Duration (hours)'] = df['Sleep Duration (hours)'].str.strip()

In [12]:
df['Sleep Duration (hours)'] = pd.to_numeric(df['Sleep Duration (hours)'],errors='coerce')

In [13]:
df['Sleep Duration (hours)'] = df['Sleep Duration (hours)'].replace({'ERROR':0.0})

In [14]:
df.head(20)

,User ID,Heart Rate (BPM),Blood Oxygen Level (%),Step Count,Sleep Duration (hours),Activity Level,Stress Level
0,4174.0,58.939776,98.809650,5450.390578,7.167236,Highly Active,1
1,NaN,NaN,98.532195,727.601610,6.538239,Highly Active,5
2,1860.0,247.803052,97.052954,2826.521994,NaN,Highly Active,5
3,2294.0,40.000000,96.894213,13797.338044,7.367790,Active,3
4,2130.0,61.950165,98.583797,15679.067648,NaN,Highly Active,6
5,2095.0,96.285938,94.202910,10205.992256,8.378343,Highly Active,10
6,4772.0,47.272257,95.389760,3208.781177,7.871146,Sedentary,2
7,4092.0,81.733497,95.981343,6051.249857,5.224139,Sedentary,1
8,3979.0,93.340338,97.218945,1775.029578,5.468414,Sedentary,1
9,3169.0,51.409967,97.272787,7940.021452,7.954499,Sedentary,8
10,1466.0,101.914938,NaN,2987.568640,7.541956,Sedentary,9
11,2238.0,73.852941,95.399440,1748.197069,4.830162,Active,1
12,1330.0,95.372290,99.152652,6155.837342,5.814348,Highly Active,10
13,2482.0,79.062632,99.014913,829.925623,6.269060,Sedentary,NaN
14,3135.0,68.090203,99.729740,8124.135791,6.444870,Highly Active,5
15,4444.0,40.000000,99.047725,1449.215895,6.392174,Active,2
16,4171.0,58.277963,97.789726,5643.511358,7.848859,Sedentary,10
17,3919.0,NaN,96.052853,3488.919508,6.718661,Sedentary,4
18,4735.0,98.059249,96.027099,5846.923275,6.621127,Sedentary,9
19,NaN,53.930206,96.302569,1976.186392,5.364849,Highly Active,5

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   User ID                 9799 non-null   float64
 1   Heart Rate (BPM)        9600 non-null   float64
 2   Blood Oxygen Level (%)  9700 non-null   float64
 3   Step Count              9900 non-null   float64
 4   Sleep Duration (hours)  9603 non-null   float64
 5   Activity Level          9800 non-null   object
 6   Stress Level            9800 non-null   object
dtypes: float64(5), object(2)
memory usage: 547.0+ KB

In [22]:
df['Activity Level'] = df['Activity Level'].dropna()

### INSTEAD OF DROPPING ZEROS TAKING MEDIAN TO MAKE DATA MORE CONVINENT

In [16]:
df = df.fillna(df['Heart Rate (BPM)'].median())

In [17]:
df = df.fillna(df['Blood Oxygen Level (%)'].median())

In [23]:
p = len(df)
p

10000

In [28]:
df['Stress Level']= df['Stress Level'].str.strip()

In [29]:
df['Stress Level']= pd.to_numeric(df['Stress Level'],errors='coerce')

In [30]:
df['Stress Level'] = df['Stress Level'].fillna(df['Stress Level'].median())

In [25]:
df = df.fillna(df['Sleep Duration (hours)'].median())

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   User ID                 10000 non-null  float64
 1   Heart Rate (BPM)        10000 non-null  float64
 2   Blood Oxygen Level (%)  10000 non-null  float64
 3   Step Count              10000 non-null  float64
 4   Sleep Duration (hours)  10000 non-null  float64
 5   Activity Level          10000 non-null  object
 6   Stress Level            10000 non-null  float64
dtypes: float64(6), object(1)
memory usage: 547.0+ KB

In [32]:
df.describe()

,User ID,Heart Rate (BPM),Blood Oxygen Level (%),Step Count,Sleep Duration (hours),Stress Level
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,2948.541834,76.002867,97.162952,6916.581232,9.233454,5.452500
std,1211.029327,19.020902,4.219589,6885.709906,13.498889,2.836503
min,75.220601,40.000000,75.220601,0.910138,-0.194453,1.000000
25%,1946.000000,65.322796,96.496549,1954.281465,5.541519,3.000000
50%,2960.000000,75.220601,97.933416,4899.902269,6.579024,5.000000
75%,3985.000000,84.791711,99.327856,9680.097095,7.697902,8.000000
max,4999.000000,296.593970,100.000000,62486.690753,75.220601,10.000000

### ROUNDING OFF TO 2 DECIMAL PLACES

In [33]:
df['Heart Rate (BPM)'] = df['Heart Rate (BPM)'].round(2)

In [34]:
df['Blood Oxygen Level (%)'] = df['Blood Oxygen Level (%)'].round(2)

In [35]:
df['Step Count'] = df['Step Count'].round(2)

In [36]:
df['Step Count'] = df['Step Count'].round(2)

In [37]:
df['Sleep Duration (hours)'] = df['Sleep Duration (hours)'].round(2)

In [38]:
df['Stress Level'] = df['Stress Level'].round(1)

In [44]:
df['Activity Level'] = df['Activity Level'].round(2)

In [46]:
df.head(20)

,User ID,Heart Rate (BPM),Blood Oxygen Level (%),Step Count,Sleep Duration (hours),Activity Level,Stress Level
0,4174.000000,58.94,98.81,5450.39,7.17,Highly Active,1.0
1,75.220601,75.22,98.53,727.60,6.54,Highly Active,5.0
2,1860.000000,247.80,97.05,2826.52,75.22,Highly Active,5.0
3,2294.000000,40.00,96.89,13797.34,7.37,Active,3.0
4,2130.000000,61.95,98.58,15679.07,75.22,Highly Active,6.0
5,2095.000000,96.29,94.20,10205.99,8.38,Highly Active,10.0
6,4772.000000,47.27,95.39,3208.78,7.87,Sedentary,2.0
7,4092.000000,81.73,95.98,6051.25,5.22,Sedentary,1.0
8,3979.000000,93.34,97.22,1775.03,5.47,Sedentary,1.0
9,3169.000000,51.41,97.27,7940.02,7.95,Sedentary,8.0
10,1466.000000,101.91,75.22,2987.57,7.54,Sedentary,9.0
11,2238.000000,73.85,95.40,1748.20,4.83,Active,1.0
12,1330.000000,95.37,99.15,6155.84,5.81,Highly Active,10.0
13,2482.000000,79.06,99.01,829.93,6.27,Sedentary,5.0
14,3135.000000,68.09,99.73,8124.14,6.44,Highly Active,5.0
15,4444.000000,40.00,99.05,1449.22,6.39,Active,2.0
16,4171.000000,58.28,97.79,5643.51,7.85,Sedentary,10.0
17,3919.000000,75.22,96.05,3488.92,6.72,Sedentary,4.0
18,4735.000000,98.06,96.03,5846.92,6.62,Sedentary,9.0
19,75.220601,53.93,96.30,1976.19,5.36,Highly Active,5.0

In [48]:
df.head(20)

,User ID,Heart Rate (BPM),Blood Oxygen Level (%),Step Count,Sleep Duration (hours),Activity Level,Stress Level
0,4174.000000,58.94,98.81,5450.39,7.17,Highly Active,1.0
1,75.220601,75.22,98.53,727.60,6.54,Highly Active,5.0
2,1860.000000,247.80,97.05,2826.52,75.22,Highly Active,5.0
3,2294.000000,40.00,96.89,13797.34,7.37,Active,3.0
4,2130.000000,61.95,98.58,15679.07,75.22,Highly Active,6.0
5,2095.000000,96.29,94.20,10205.99,8.38,Highly Active,10.0
6,4772.000000,47.27,95.39,3208.78,7.87,Sedentary,2.0
7,4092.000000,81.73,95.98,6051.25,5.22,Sedentary,1.0
8,3979.000000,93.34,97.22,1775.03,5.47,Sedentary,1.0
9,3169.000000,51.41,97.27,7940.02,7.95,Sedentary,8.0
10,1466.000000,101.91,75.22,2987.57,7.54,Sedentary,9.0
11,2238.000000,73.85,95.40,1748.20,4.83,Active,1.0
12,1330.000000,95.37,99.15,6155.84,5.81,Highly Active,10.0
13,2482.000000,79.06,99.01,829.93,6.27,Sedentary,5.0
14,3135.000000,68.09,99.73,8124.14,6.44,Highly Active,5.0
15,4444.000000,40.00,99.05,1449.22,6.39,Active,2.0
16,4171.000000,58.28,97.79,5643.51,7.85,Sedentary,10.0
17,3919.000000,75.22,96.05,3488.92,6.72,Sedentary,4.0
18,4735.000000,98.06,96.03,5846.92,6.62,Sedentary,9.0
19,75.220601,53.93,96.30,1976.19,5.36,Highly Active,5.0

In [51]:
df = df.drop(df[df['Sleep Duration (hrs)'] == '0.0'].index)

### CREATING A COLUMN TO MEASURE THE STRESS LEVEL

In [51]:
## using numpy 

conditions = [
    (df['Stress Level']>=1) & (df['Stress Level'] <6),
    (df['Stress Level']>=6) & (df['Stress Level'] <8)

]

choices = ['Excellent','Satisfactory']

df['Stress_Ratings'] = np.select(conditions,choices, default='Bad')

In [52]:
df['Stress_Ratings'].value_counts()

Stress_Ratings
Excellent       5146
Bad             2847
Satisfactory    2007
Name: count, dtype: int64

In [50]:
df.head(10)

,User ID,Heart Rate (BPM),Blood Oxygen Level (%),Step Count,Sleep Duration (hours),Activity Level,Stress Level
0,4174.000000,58.94,98.81,5450.39,7.17,Highly Active,1.0
1,75.220601,75.22,98.53,727.60,6.54,Highly Active,5.0
2,1860.000000,247.80,97.05,2826.52,75.22,Highly Active,5.0
3,2294.000000,40.00,96.89,13797.34,7.37,Active,3.0
4,2130.000000,61.95,98.58,15679.07,75.22,Highly Active,6.0
5,2095.000000,96.29,94.20,10205.99,8.38,Highly Active,10.0
6,4772.000000,47.27,95.39,3208.78,7.87,Sedentary,2.0
7,4092.000000,81.73,95.98,6051.25,5.22,Sedentary,1.0
8,3979.000000,93.34,97.22,1775.03,5.47,Sedentary,1.0
9,3169.000000,51.41,97.27,7940.02,7.95,Sedentary,8.0

#### CREATING COLUMN FOR OVERALL USER RATINGS

In [57]:
bo_healthy = (df['Blood Oxygen Level (%)']>=94)&(df['Blood Oxygen Level (%)']<100)
bp_healthy = (df['Heart Rate (BPM)']>=50)&(df['Heart Rate (BPM)']<80)
sc_healthy = (df['Step Count']>=4000)&(df['Step Count']<15000)
sleep_health = (df['Sleep Duration (hours)']>=6)&(df['Sleep Duration (hours)']<8)

healty_count = bo_healthy.astype(int) + bp_healthy.astype(int) + sc_healthy.astype(int)+sleep_health.astype(int)

df['User_Ratings'] = np.select(
[healty_count == 4 , healty_count == 3,healty_count == 2],
['Healthy','Mid-Healthy','Boderline'],
default= 'Unhealthy'
)

In [58]:
df

,User ID,Heart Rate (BPM),Blood Oxygen Level (%),Step Count,Sleep Duration (hours),Activity Level,Stress Level,Stress_Ratings,User_Ratings
0,4174.000000,58.94,98.81,5450.39,7.17,Highly Active,1.0,Excellent,Healthy
1,75.220601,75.22,98.53,727.60,6.54,Highly Active,5.0,Excellent,Mid-Healthy
2,1860.000000,247.80,97.05,2826.52,75.22,Highly Active,5.0,Excellent,Unhealthy
3,2294.000000,40.00,96.89,13797.34,7.37,Active,3.0,Excellent,Mid-Healthy
4,2130.000000,61.95,98.58,15679.07,75.22,Highly Active,6.0,Satisfactory,Boderline
...,...,...,...,...,...,...,...,...,...
9995,1524.000000,78.82,98.93,2948.49,7.40,Active,7.0,Satisfactory,Mid-Healthy
9996,4879.000000,48.63,95.77,4725.62,6.38,Sedentary,2.0,Excellent,Mid-Healthy
9997,2624.000000,73.83,97.95,2571.49,6.92,Sedentary,4.0,Excellent,Mid-Healthy
9998,4907.000000,75.22,98.40,3364.79,5.69,Active,8.0,Bad,Boderline
9999,4113.000000,70.06,98.48,544.70,5.69,Active,5.0,Excellent,Boderline

In [59]:
df['User_Ratings'].value_counts()

User_Ratings
Boderline      3814
Mid-Healthy    3277
Unhealthy      1981
Healthy         928
Name: count, dtype: int64

Saving as CSV

In [60]:
df.to_csv(r'C:\Users\PMLS\Projects-DA\data.csv', index=False)